h1 {
  font-size: 48px;
  color: #57acec;
  margin-top: 20%;
  margin-bottom: 50px; 
  text-align: center;  
}

.timer-control {
  padding-left: calc(50% - 200px);
}

.time-button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  background-color: transparent;
}